h1{
    color: black;
    border: 1px solid green;
    background-color:indianred ;
    width: 100;
    display: flex;
    justify-content:center;
}
.img {
    display: flex;
    justify-content: space-around;
}
.img1 {
width: 250px;

}
.img2 {
    width: 250px;
 
    }